body { font-family: Arial,Helvetica,sans-serif;
    background-color:#d0d0f7;

}

h1 {
 color: #E0D3E9;
 background-color: #5D41C3;
 padding: 1.5rem

}

p { 
 padding: 1.5rem;
 margin:1.5rem;

}


hr{
    border: 3px dashed #5D41C3;
}

main{
    border: 4px white solid;
    margin: 2rem;
    margin-top: 0;
    background-color: aliceblue;
    max-width: 45rem;
}

h2 {
    text-align: center
}