body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #86623b;
  display: flex;
  flex-direction: column;
}

header {
    height: 70px;
    background-color: #86623b;
}

main {
    height: 810px;
}


h1{
    text-align: center;
    color:#86623b;
}
.wrapper {
  flex: 1;
  background-image: url("../../images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
  height:100%;

}


.project-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f5deb3;
  opacity: 0.95;
  border: 1px solid #86623b;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  gap: 30px;
}


.project-box1 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 2px solid #86623b;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  background-image: url("../../images/mehndi2.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 

}

.project-box2 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 2px solid #86623b;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  background-image: url("../../images/html.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 

}
.project-text {
  flex: 55%;
}

.project-image {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #86623b;
}


.case-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #86623b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.case-button:hover {
  background-color: #a67c52;
}



nav li {
    list-style-type: none;
    background-color: #86623b;
}

nav a{
    text-decoration: none;
    color:white;
}
nav a:hover{
    color: palegoldenrod;
    background-color:#d4b594;
}

nav ul{
    display:flex;
    justify-content:center;
    background-color: #86623b;
    padding:25px;
    margin:0;
    flex-wrap:wrap;
}

nav a{
    text-decoration:none;
    color: white;
    padding:25px;
}



footer {
    height: 40px;
    background-color: #86623b;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: small;
}

footer p {
    font-size: 14px; 
}

a:link{
    color: white;
    text-decoration: none; }
a:visited {
    color: #eec8a5 ;  
}

a:hover{
    color: #5D151C;
    text-decoration: underline;
}
a:active {
    color: #384038;
}

